@import "./settings/fonts";
@import "./settings/reset";
@import "./settings/colors";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.header__container, .not__found, .login__container {
  max-width: 1860px;
  margin: 0 auto;
}

.action--button {
  font: normal normal 300 36px/46px $font-base;
  background-color: transparent;
  border: 1px solid $border-color;
  text-transform: uppercase;
}

.login__page {
  height: 70vh;
  .login__header {
    background: none;
    height: 100px;
  }
  .login__container {
    height: 70vh;
    display: flex;
    @include center;
    justify-content: flex-start;
    margin-top: 200px;
    h2 {
      font-family: $font-base;
      font-size: 40px;
      margin: 0 auto 20px auto;
    }
    .login__form {
      @include center;
      margin: 30px auto 20px auto;
      background-color: $section-background;
      padding: 20px 40px;
      label {
        width: 100%;
        font-family: $font-alt;
        font-size: 13px;
        padding: 20px 0;
      }
      input {
        background: none;
        border: none;
        border-bottom: 1px solid $border-color;
        margin-bottom: 20px;
      }
    }
    .login__buttons {
      @include center;
      flex-direction: row;
      justify-content: space-between;
      button {
        font-size: 13px;
        margin: 0 90px 0 90px;
      }
    }
  }
}

.not__found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-family: $font-base;
    font-size: 40px;
    margin-bottom: 10px;
  }
}


header {
  height: 75vh;
  background: url("/assets/Home-Hero-Image.jpg");
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position-x: -280px;
  display: flex;
  flex-direction: column;
  .header__nav {
    display: flex;
    flex-direction: column;
    .header-nav-login, .header-nav-links {
      @include center;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 20px;
      margin-right: 140px;
      li {
        font-size: 20px;
        margin-left: 35px;
        padding: 10px 10px;
        cursor: pointer;
        border: 1px solid transparent;
      }
      .header-nav-login-element {
        font-size: 16px;
        a {
          opacity: 0.5;
        }
      }
      li:hover, .header-nav-login-element:hover  {
        border: 1px solid $border-color;
      }
      .header-nav-login-element:hover {
        border-color: $columns-background;
      }
    }
  }
  .header__start {
    @include center;
    align-items: flex-end;
    height: 100%;
    .header__start__container{
      display: flex;
      position: relative;
      bottom: 10px;
      flex-direction: column;;
      text-align: center;
      margin-right: 260px;
      h2:first-child {
        margin-bottom: 10px;
      }
      h2 {
        font-family: $font-base;
        font-size: 40px;
        margin: 0 auto;
        width: 100%;
      }
      .decoration {
        margin: 40px auto;
        width: 40%;
        margin-bottom: 80px;
      }
      .header__start__buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        a {
          width: 100%;
          position: relative;
          button {
            width: 70%;
            padding: 20px;
            margin: 0 20px;
          }
        }
        a:first-child {
          button {
            position: absolute;
            right: 0;
          }
        }
        a:last-child {
          button {
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}



.header__three__columns {
  display: flex;
  justify-content: space-around;
  background-color: $columns-background;
  .column {
    text-align: center;
    width: 20%;
    font-family: $font-base;
    h2 {
      font-size: 90px;
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
    }
    span {
      text-transform: uppercase;
      font-size: 16px;
    }
    p {
      font-family: $font-alt;
      margin-top: 30px;
      margin-bottom: 80px;
      font-size: 16px;
    }
  }
}


.four__steps__container {
  @include center;
  h2 {
    font-family: $font-base;
    font-size: 38px;
    margin: 70px 0 30px 0;
  }
  .four__steps__columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $section-background;
    width: 100%;
    margin: 20px 0 20px 0;
    .four__steps__column {
      margin: 60px 0 60px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .four--steps--icon {
        width: 50%;
        margin-bottom: 20px;
      }
      span {
        text-align: center;
        position: relative;
        width: 60%;
        margin-bottom: 20px;
      }
      span:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: $border-color;
        bottom: -10px;
        left: 25%;
      }
      p {
        text-align: center;
        width: 70%;
        font-family: $font-alt;
        font-size: 12px;
        line-height: 1rem;
      }
    }
  }
  a {
    margin: 10px 0 70px 0;
    button {
      width: 100%;
      padding: 20px 80px 20px 80px;
    }
  }
}

.about__us_container {
  display: flex;
  flex-direction: row;
  height: 55vh;
  background-color: $section-background;
  .about__us__description, .about__us__image {
    width: 50%;
  }
  .about__us__description {
    @include center;
    justify-content: flex-start;
    position: relative;
    margin-top: 200px;
    h2 {
      font-family: $font-base;
      font-size: 38px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      width: 60%;
      font-family: $font-base;
      font-size: 30px;
      margin-top: 50px;
      line-height: 3rem;
    }
    .about__us__signature {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 100px;
      margin-bottom: 150px;
    }
  }
  .about__us__image{
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}


.who__we__help__container {
  height: 55vh;
}